_build*
*.pdf
*.install
.merlin*
result
test.log
build.log
src/config.mlh
burn_wallet
daemon_script
docs
funded_wallet
*.txt
ocaml-dune
ocaml-rocksdb
ocaml-sodium
wallet
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										
